<section id="stars" class="background">

</section>

<section id="dust" class="background">

</section>

<!-- <section id="planets" class="background">

</section> -->

<section id="nebula2" class="background">

</section>

<section id="dust1" class="background">

</section>


<section id="planets1" class="background">

</section>

<section id="nebula1" class="background">

</section>


<!-- <section id="planets2" class="background">

</section>

<section id="planets3" class="background">

</section>


<section id="planets4" class="background">

</section> -->