@import '../colors.scss';
:host {
    min-width:100%;
    display:grid;
    grid-template-areas:
    'fake-input';
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    z-index:1000;
    height:fit-content;
    span.fake-input {
        grid-area:fake-input;
        background:$white;
        input {
            pointer-events: visible;
        }
    }
    @media (max-width:450px) {
        input {
            font-size:1.5rem;
        }
    }
    @media (max-width:350px) {
        input {
            font-size:1rem;
        }
    }
    @media (max-width:200px) {
        input {
            font-size:0.75rem;
        }
    }
}