@import '../colors.scss';

:host {
    justify-self: center;
    display:grid;
    grid-auto-flow: column;
    column-gap:20px;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    span {
        pointer-events: none;
        img {
            pointer-events: all;
            transition:0.2s;
            &:hover {
                transform:scale(2);
            }
        }
    }
}