<span class="social-item">
        <img src="../../assets/icons/discord.png"/>
        <a target="_blank" href="https://discord.gg/superpixelers"></a>
</span>
<span class="social-item">
    <a target="_blank" href="https://twitter.com/SuperPixelers">
        <img src="../../assets/icons/twitter.png"/></a>
</span>
<span class="social-item">
    <a target="_blank" href="https://superpixelers.fun">
        <img src="../../assets/icons/chrome.png"/></a>
</span>
<span class="social-item">
    <a target="_blank" href="https://github.com/oasis-cover-band">
        <img src="../../assets/icons/github.png"/></a>
</span>